# Large files
*.fits
*.pkl

#Directories
accs/*
angular_cross_correlation/*
archive/*
core_notebooks/*
data/*
methods_code/*
notebooks/*
notebooks_test/*
plots/*
reference_maps/*
runs/*
notebooks_main1/fullsky_runs/*
reconmaps/*

#Misc top level files
Analysis.ipynb
Evaluate-Copy1.ipynb
Evaluate-stable.ipynb
Evaluate.ipynb
evaluation_lib_editable.py
methods_lib_cfp.py
methods_lib_cfp_stable.py
*old*
*Trash*
*.e
*.o
notebooks_main1/2_17_Posteriors.ipynb

#Hidden dirs
*.ipynb_checkpoints*
*~*
*__pycache__*

#Exceptions to save
!notebooks_main1/spectra_matched/7_4_RerunSouthTest.ipynb
!notebooks_main1/spectra_matched/7_4_SpecChecksRerunNorth.ipynb
!notebooks_test/11_17_ComputeFinalACC.ipynb
!notebooks_test/11-17_PaperPlotsBias.ipynb
!notebooks_test/11-20_PaperPlotsACC_Bootstrapped.ipynb
!notebooks_test/11_20_presave_Bayestar2017.ipynb
!notebooks_test/2_22_ExamineStellarDensity-Postcuts.ipynb
!notebooks_test/2_26_presave_Bayestar2019.ipynb
!notebooks_test/3_8_PaperPlots_ACC.ipynb
!notebooks_test/4_3_ACC_CheckB19.ipynb
!notebooks_test/4_3_ACC_CheckNoise.ipynb
*.DS_Store
