# Large files
*.fits
*.pkl

#Directories
accs/*
angular_cross_correlation/*
archive/*
core_notebooks/*
data/*
methods_code/*
notebooks/*
notebooks_test/*
notebooks_main1/tmp/*
#notebooks_main1/*
plots/*
plots/old/*
reference_maps/*
runs/*
#notebooks_main1/spectra_matched/*
notebooks_main1/spectra_matched/tmp/tmp2/*
notebooks_main1/fullsky_runs/*
reconmaps/*

#Misc top level files
Analysis.ipynb
Evaluate-Copy1.ipynb
Evaluate-stable.ipynb
Evaluate.ipynb
evaluation_lib_editable.py
methods_lib_cfp.py
methods_lib_cfp_stable.py
*old*
*Trash*
*.e
*.o
notebooks_main1/2_17_Posteriors.ipynb

#Hidden dirs
*.ipynb_checkpoints*
*~*
*__pycache__*

#Exceptions to save
!notebooks_main/2_12_SpecTrainWise.ipynb
!notebooks_main/7_1_SpecTrainSDSS_New.ipynb
!notebooks_main/4_5_zDbn-Copy1.ipynb
!notebooks_main1/6_28_FID+RUWE-FullSky_15.ipynb
!notebooks_main1/6_28_FID+RUWE-FullSky_6-1.ipynb
!notebooks_test/11_17_ComputeFinalACC.ipynb
!notebooks_test/11-17_PaperPlotsBias.ipynb
!notebooks_test/11_20_presave_Bayestar2017.ipynb
!notebooks_test/11_20_PaperPlots_ACC_Bootstrapped.ipynb
!notebooks_test/3_8_PaperPlots_ACC.ipynb
!notebooks_test/11_17_ComputeFinalACC-Copy1.ipynb
*.DS_Store
!angular_cross_correlation/Prepare_ACC.ipynb
!angular_cross_correlation/tools.py
!angular_cross_correlation/exgal_catalogs/.placeholder
!angular_cross_correlation/acc_temp_asdf/.placeholder

